<div class="jumbotron">
    <div class="container">
        
        <center>
        <h3 class="display-3">La reponse de l'univers est ....
        </h3>
        <p>
        (roulement de tambours)</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        ...</br>
        </p>
        
        <h1 class="display-3">42. </h1></br></br>
        <p </br></br> Oui, juste 42. Penses-y.</p>
        </center>
    </div>
</div>

    </br></br></br></br></br></br></br>
    <p>
    </br>
        <a href=><button> revenir a l'accueil </button></a>
    </p>
    
    <a class="stylebouton" href=<%= root_path %">revenir a l'accueil</a>

    <input type="button" value="Accueil" onclick="href=<%= root_path %>;" />